@import "../../variables";

.ticket {
  display: grid;
  gap: 20px;
  padding: 20px;
  background-color: $background-content;

  &Header {
    display: flex;
    justify-content: space-between;

    .price {
      font-family: Open Sans;
      font-style: normal;
      font-weight: 600;
      font-size: 24px;
      line-height: 1;

      color: $border-color-checkbox-active;
    }
  }

  &Details {
    display: grid;
    gap: 8px;

    .row {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 20px;
    }
  }
}
