@import "../../variables";

.filter {
  &Form {
    padding: 10px 0;
  }
  box-shadow: 0px 2px 8px $shadow-color;
  border-radius: 5px;
  background-color: $background-content;

  fieldset {
    display: flex;
    flex-direction: column;

    padding: 0;
    margin: 0;

    border: none;

    legend {
      padding: 10px 20px;

      font-style: normal;
      font-weight: 600;
      font-size: 12px;
      line-height: 1;
      letter-spacing: 0.5;
      text-transform: uppercase;

      color: $text-color;
    }
  }
  .formFiled {
    display: flex;
    align-items: center;

    .checkboxFieldInput {
      display: none;
    }

    .checkboxFieldLabel {
      position: relative;

      display: flex;
      align-items: center;

      width: 100%;
      padding: 10px 20px;

      font-size: 13px;
      line-height: 1.4;
      color: $text-color;

      cursor: pointer;

      &:hover {
        background-color: #f1fcff;
      }

      &::before {
        content: "";
        display: inline-block;
        margin-right: 10px;

        width: 20px;
        height: 20px;

        border: 1px solid $border-color-checkbox-default;
        box-sizing: border-box;
        border-radius: 2px;
      }

      &::after {
        position: absolute;

        content: "";
        display: inline-block;

        width: 20px;
        height: 20px;

        background-image: url(../../assets/check.svg);
        background-repeat: no-repeat;
        background-position: center;
      }
    }
  }
}
