$large-desktop: 1440px;
$desktop: 1024px;
$tablet: 768px;
$mobile: 320px;

$text-color: #4a4a4a;
$background-color: #f3f7fa;
$background-content: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);

$border-color-checkbox-default: #9abbce;
$border-color-checkbox-active: #2196f3;
