.App {
  display: flex;
  flex-direction: column;

  max-width: 960px;
  padding: 0 103px;
  margin: 0 auto;

  .page {
    display: grid;
    grid-template-columns: 232px auto;
    gap: 20px;
  }

  .main {
    display: grid;
    gap: 20px;
  }

  .ticketsList {
    display: grid;
    gap: 20px;

    list-style: none;
  }
}
