@import "../../variables";

.sort {
  background-color: $background-content;
  overflow: hidden;
  border-radius: 5px;

  .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .option {
    display: flex;
    justify-content: center;
    border: 1px solid $border-color;

    &:first-child {
      border-radius: 5px 0 0 5px;
    }

    &:last-child {
      border-radius: 0 5px 5px 0;
    }

    & + .option {
      border-left: 0;
    }

    &:hover {
      border-color: $border-color-checkbox-active;

      label {
        color: $border-color-checkbox-active;
      }
    }
  }
  .active {
    background-color: $border-color-checkbox-active;
    border: 0;

    label {
      color: $background-content;
    }
  }

  input {
    display: none;
  }

  label {
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 100%;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.5;
    text-transform: uppercase;

    color: $text-color;
  }
}
