@import "../../variables";

.sort {
  background-color: $background-content;
  overflow: hidden;
  border-radius: 5px;

  .form {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .option {
    display: flex;
    justify-content: center;

    &:first-child label {
      border-radius: 5px 0 0 5px;
    }

    &:last-child label {
      border-radius: 0 5px 5px 0;
    }
  }

  input {
    display: none;

    &:checked ~ label {
      background-color: $border-color-checkbox-active;
      border: 0;
      color: $background-content;
    }
  }

  label {
    display: inline-block;
    text-align: center;
    padding: 15px;
    width: 100%;
    cursor: pointer;

    font-family: Open Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 12px;
    line-height: 1.7;
    letter-spacing: 0.5;
    text-transform: uppercase;

    color: $text-color;

    border: 1px solid $border-color;
    & + label {
      border-left: 0;
    }

    &:hover {
      border-color: $border-color-checkbox-active;
      color: $border-color-checkbox-active;
    }
  }
}
